.btn:active {
    background-color:#911;
    color:#fff;
}

.checkbox-button label {
    float:left;
    /*width:4.0em;*/
}

.checkbox-button label span {
    /*
    text-align:center;
    padding:3px 0px;
    display:block;
    */
}

.checkbox-button label input {
    /*
    position:absolute;
    top:-20px;
    */
}

.checkbox-button input:checked + span {
    background-color:#911;
    color:#fff;
}

.checkbox-button input:checked + label {
    background-color:#911;
    color:#fff;
}
